html{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.app {
  height: 500px;
}

.headings {

}

.brush-selection {
  height: 70px;
}

.paint {
  height: 500px;

  
}

.palette {
  display: flex;
}

.brush {

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  border: 1px black solid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)) ; */
  height: 500px;
  /* width: 500px; */
  
}

.square {
  transition: 0.5s;
width: 50px;
height: 50px;
}

.color-1 {
/* background-color: green; */
}

.color-2 {
  background-color: yellow;
}

.color-3 {
  background-color: red;
  
}

.color-4 {
  background-color: blue ;
}

.color-5 {
  background-color: white;
}
.color-new {
  background-color: rgb(245, 238, 245);
}
