html{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.app {
  height: 500px;
}

.headings {

}

.brush-selection {
  height: 140px;
  display: flex;
  justify-content: center;
}

.paint {

  height: 500px;

  
}

.palette {
  display: grid;
 grid-template-columns: repeat(7,1fr);
 grid-template-rows: repeat(6,1fr);
}

.brush {

}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  border: 1px black solid;
  /* grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(50px, 1fr)) ; */
  /* height: auto;
  width: auto; */
  
}

.square {
  transition: 0.5s;
width: 50px;
height: 50px;
}

.color-1 {
background-color: green;
}

.color-2 {
  background-color: rgb(255, 255, 0);
}

.color-3 {
  background-color: rgb(255, 47, 47);
  
}

.color-4 {
  background-color: blue ;
}

.color-5 {
  background-color: white;
}
.color-new {
  background-color: rgb(245, 238, 245);
}


.colorChart{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#color{
  text-align: center;
}
.text{
  font-size: 10px;
  margin: 0em;
}